<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome page</title>
<link rel="stylesheet" href="../static/css/4.0.0-alpha.6/css/bootstrap.min.css" data-th-href="@{/css/4.0.0-alpha.6/css/bootstrap.min.css}" />
        
   <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" data-th-href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" />

   <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css" data-th-href="@{/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css}" rel="stylesheet" />

    <link href="../static/css/main.css" data-th-href="@{css/main.css}" rel="stylesheet" media="screen" />
  
    
       

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            data-th-src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="../static/js/lib/bootstrap.js" data-th-src="@{/js/lib/bootstrap.js}"></script>
<script src="../static/js/lib/jquery.validate.min.js" data-th-src="@{/js/lib/jquery.validate.min.js}"></script>
    <script src="../static/js/lib/additional-methods.min.js" data-th-src="@{/js/lib/additional-methods.min.js}"></script>

    </head>


    <body style="background-color: aliceblue; margin: 20px 20px;">
        <div data-th-replace="header :: html"></div>
            <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                  <h2>Contact Us</h2>
                      <hr />
                      <p>Address: 401 Amberson Ave, Pittsburgh, PA 15232</p>
                      <p>Tel: xxx-xxx-xxx</p>
                      
                  </div>
                  <hr/>
                  <div class="col-xs-12">
                  <h2>Email Us</h2>
                    <form data-th-action="@{/thankyou}" method="get" name="comment_form" id="comment_form">   
                    <fieldset>
                    <label>Last Name: <input type="text" name="lastname" size="20" maxlength="50"/></label>
                    <label>First Name: <input type="text" name="firstname" size="20" maxlength="50"/></label><br />
                    <label>Email Address: <input type="email" name="email" size="20" placeholder="xxx@xxxx.xxx" maxlength="50"/></label><br />
                    <label>Phone:<input type="text" name="phone" id="phone" placeholder="999-999-9999"/></label><br/>
                    <p>
                        <label for="subject">Subject:</label>
                        <select name="referrer" id="subject">
                            <option value="select one">Select One</option>
                            <option value="trips information">Pets Information</option>
                            <option value="password reset">Password Reset</option>
                            <option value="website feedback">Website Feedback</option>
                            <option value="account problems">Account Problems</option>
                            <option value="other">Other</option>
                        </select>
                    </p>
                    <p>
                        <label for="enter comments"> Enter Comments:   (500 characters maxmium)</label><br />
                        <textarea rows="5" cols="50" id="comments"></textarea>
                    </p>
                        <input type="submit" value="Submit"/>
                    </fieldset>
                    </form>
        
                  </div>

                  
                  
                </div>
                
                  <footer class="footer" style="height: 30px; position: absolute;bottom: 0; width: 100%;">
                    
          <p class="text-muted" style="text-align: center">Copyright(c) 2017 | YukiANDYuto | All Rights Reserved</p>   
        </footer>
            </div>
        
      

    </body>
</html>
